<!DOCTYPE html!>
<html>
<head>
    <title>tomrudick.com</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="assets/css/layout.css">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_ZmzJqed89XKQ76LGYQzYY06tvfUMK90"></script>

            <script src="assets/js/maps.js"></script>

</head>
<body class="container">
    <div id="heading">
        <h1>tom rudick</h1>
        <h2>software engineer @ google</h2>
        <h2>beekeeper, printer, bow tie enthusiast</h2>
    </div>
    
    <div id="vitals">
      <h3>vitals</h3>
      <div id="today">
        <h4>today</h4>
        <ul class="stats row">
          <li class="three columns">
            <i class="material-icons">directions_walk</i>
            <span class="value">{{ toMi fitness_daily.walking }}mi</span>
          </li>
          <li class="three columns">
            <i class="material-icons">directions_bike</i>
            <span class="value">{{ toMi fitness_daily.biking }}mi</span>
          </li>
          <li class="three columns">
            <i class="material-icons">email</i>
            <span class="value">{{ sent_emails.today }}</span>
          </li>
          <li class="three columns">
            <i class="material-icons">music_note</i>
            <span class="value">{{ music_daily }}</span>
          </li>
        </ul>    
      </div>
      <div id="week">
        <h4>this week</h4>
        <ul class="stats row">
          <li class="three columns">
            <i class="material-icons">directions_walk</i>
            <span class="value">{{ toMi fitness_weekly.walking }}mi</span>
          </li>
          <li class="three columns">
            <i class="material-icons">directions_bike</i>
            <span class="value">{{ toMi fitness_weekly.biking }}mi</span>
          </li>
          <li class="three columns">
            <i class="material-icons">email</i>
            <span class="value">{{ sent_emails.week }}</span>
          </li>
          <li class="three columns">
            <i class="material-icons">music_note</i>
            <span class="value">{{ music_weekly }}</span>
          </li>
        </ul>    
      </div>
      <div id="year">
        <h4>this year</h4>
        <ul class="stats row">
          <li class="three columns">
            <i class="material-icons">directions_walk</i>
            <span class="value">{{ toMi fitness_yearly.walking }}mi</span>
          </li>
          <li class="three columns">
            <i class="material-icons">directions_bike</i>
            <span class="value">{{ toMi fitness_yearly.biking }}mi</span>
          </li>
          <li class="three columns">
            <i class="material-icons">email</i>
            <span class="value">{{ sent_emails.year }}</span>
          </li>
          <li class="three columns">
            <i class="material-icons">music_note</i>
            <span class="value">{{ music_yearly }}</span>
          </li>
        </ul>    
      </div>
    </div>

    <div id="music">
      <h3>music</h3>
      <ul class="row">
        {{#each album_covers}}
            <li class="two columns">
                <a href="{{this.href}}">
                    <img class="u-max-full-width" src="{{this.image}}" />
                </a>
            </li>
        {{/each}}
      </ul>
    </div>

    <!-- Maps -->
    <div id="travel">
      <h3>travels</h3>
      <div class="row">
        <div id="map" class="eight columns" style="background:black;height:300px">
        </div>
        <ul id="checkins" class="four columns">
          {{#each checkins.categories}}
            <li>{{this.count}} {{this.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <!-- 8:36pm -->
    <div id="eight36">
      <h3>8:36pm</h3>
      <ul class="row">
        {{#each eight30six.photos}}
        <li class="two columns">
          <a href="{{this.url}}"><img class="crop u-max-full-width" src="{{this.img}}" /></a>
        </li>        
        {{/each}}
      </ul>
    </div>

    <div id="contact">
      <h3>contact</h3>
      <p>Feel free to reach out via <a href="mailto:tmrudick@gmail.com">email</a> or <a href="https://twitter.com/tmrudick">twitter</a>.</p>
    </div>

    <script>
      Maps.init('map');
            
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-5618496-8', 'tomrudick.com');
            ga('send', 'pageview');
    </script>
</body>
</html>