<!DOCTYPE html>
<html>
    <head>
        <title>tomrudick.com</title>
        <link rel="stylesheet" type="text/css" href="assets/layout.css">
        <link rel="stylesheet" type="text/css" href="assets/css/rickshaw.min.css">
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/d3.min.js"></script>
        <script src="assets/js/d3.layout.min.js"></script>
        <script src="assets/js/rickshaw.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkpZmSbzKSiiBQ4cF3LJNoMlVSZvFcNp8&sensor=false"></script>
    </head>
    <body>
        <div id="header">
            <h1>tom rudick</h1>
            <h2>software engineer at <a href="http://www.spotify.com">spotify</a></h2>
            <h2><a href="http://se.rit.edu">rit se</a>, beekeeper, ex-<a href="http://www.windowsazure.com">microsoft</a></h2>
        </div>

        <div class="section" id="bio">
            <p>Hi! I'm Tom. I currently live in Brooklyn, NY and help build data analytics tools for <a href="http:/www.spotify.com">Spotify</a>. I've been writing software for just over {{programming_age}} years and I still think it is lots of fun.</p>
            <p>I used to live in Seattle where I became an avid bow-tie enthusiast, coffee lover, and acquired a special penchant for strong mixed drinks. Brooklyn is great but I still miss Analog Coffee, Sun Liquor, and Five Point. I'll probably move back some day.</p>
        </div>

        <div class="section" id="projects">
            <p>Most people tell me that I am working on too many side projects but I'm just trying to have work/work balance. I've been most recently working on {{{link projects.most_recent.name projects.most_recent.url}}}.</p>
            <p>Last year, I <a href="http://rudickulous.com/post/38727951707/how-to-paint-a-mural">painted a mural</a> in Seattle with a whole bunch of strangers. It was probably one of the better projects that I've started.</p>
        </div>

        <div class="section" id="music">
            <p>I really like music. I've already listened to {{music.today.total}} songs today.</p>
            <div id="music-chart"></div>
            <div id="albums">
                <ul class='horizontal-list'>
                    {{#each album_covers}}
                    <li class="song"><a href="{{this.url}}"><img src="{{this.image}}"></a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="section" id="locations">
            <p>This week, I've checked into {{checkins.recent.length}} places. Most of them have been {{checkins.top_category}}.</p>
            <div id="map"></div>
        </div>

        <div class="section" id="health">
            <p>I usually try to walk as much as I can. Some days I'm better than others. Today, I've walked {{walking.today}} miles so far.</p>
            <div id="walking-chart"></div>
        </div>

        <div class="section" id="eight30six">
            <p>Inspired by <a href="http://busterbenson.com">Buster Benson</a>, I've been taking a photo of exactly what I'm doing every night at <a href="http://836.rudickuloud.com">8:36pm</a>.</p>
            <div class="highlight cropped {{eight30six.recent.css}}"><a href="{{eight30six.recent.url}}"><img src="{{eight30six.recent.img}}"></a>
            <p>{{eight30six.recent.caption}}</p>
            </div>
            <div class="grid-box">
                {{#each eight30six.previous}}
                <div class="cropped {{this.css}}"><a href="{{this.url}}"><img src="{{this.img}}"></a></div>
                {{/each}}
            </div>
        </div>

        <div class="section" id="contact">
                <p>Feel free to contact me via <a href="mailto:tom@tomrudick.com">email</a>, <a href="http://twitter.com/tmrudick">twitter</a>, <a href="http://facebook.com/tmrudick">facebook</a>, <a href="http://open.spotify.com/user/tmrudick">spotify</a>, or <a href="http://www.linkedin.com/in/tomrudick">linkedin</a>.</p>
        </div>
        <script>
            var data = {{json music_monthly}};
            var walking_data = {{json walking.monthly}}

            $(function() {
                var series_data = [];
                for (var i = 0; i < data.length; i++) {
                    series_data.push({
                        x: data[i][0],
                        y: data[i][1]
                    })
                }

                series_data.push({
                    x: {{ music.today.timestamp}},
                    y: {{ music.today.total }}
                })

                var palette = new Rickshaw.Color.Palette( { scheme: 'classic9' } );
                var graph = new Rickshaw.Graph( {
                    element: document.getElementById("music-chart"),
                    width: 780,
                    height: 150,
                    renderer: 'bar',
                    stroke: true,
                    preserve: true,
                    series: [
                        {
                            color: '#81ad00',
                            data: series_data,
                            name: 'Listens'
                        }
                    ]
                });

                graph.render();

                var hoverDetail = new Rickshaw.Graph.HoverDetail( {
                    graph: graph
                });

                var ticksTreatment = 'glow';
                var yAxis = new Rickshaw.Graph.Axis.Y( {
                    graph: graph,
                    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
                    ticksTreatment: ticksTreatment
                });

                yAxis.render();

                // WALKING CHART
                var walking_graph = new Rickshaw.Graph( {
                    element: document.getElementById("walking-chart"),
                    width: 780,
                    height: 150,
                    renderer: 'line',
                    stroke: true,
                    preserve: true,
                    series: [
                        {
                            color: '#81ad00',
                            data: walking_data,
                            name: 'Miles'
                        }
                    ]
                });

                walking_graph.render();

                new Rickshaw.Graph.HoverDetail( {
                    graph: walking_graph
                });

                var time = new Rickshaw.Fixtures.Time();

                var ticksTreatment = 'glow';
                var xAxis = new Rickshaw.Graph.Axis.Time({
                    graph: walking_graph,
                    timeUnit: time.unit('day')
                });

                xAxis.render();

                var walking_yAxis = new Rickshaw.Graph.Axis.Y( {
                    graph: walking_graph,
                    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
                    ticksTreatment: ticksTreatment
                });

                walking_yAxis.render();


                var mapOptions = {
                    center: new google.maps.LatLng(40.7111, -73.9565),
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                var infoWindow = new google.maps.InfoWindow();

                    var points = [
                    {{#each checkins.recent}}
                    { location: new google.maps.LatLng({{this.location.lat}},{{this.location.lng}}),
                      timestamp: '{{this.timestamp}}',
                      name: "{{this.name}}",
                      url: "{{this.url}}"
                    },
                    {{/each}}
                ];

                function createMarker(point) {
                    var marker = new google.maps.Marker({
                        position: point.location,
                        map: map
                    });

                    var content = "<p><strong>" + point.timestamp + "</strong>: <a href=\"" + point.url + "\">" + point.name + "</a></p>";

                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.setContent(content);
                        infoWindow.open(map,marker);
                    });
                }

                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < points.length; i++) {
                    createMarker(points[i]);
                    bounds.extend(points[i].location);
                }

                map.fitBounds(bounds);
            });
        </script>
    </body>
</html>