<!DOCTYPE html>
<html>
    <head>
        <title>tomrudick.com</title>
        <link rel="stylesheet" type="text/css" href="assets/css/layout.css">
        <link rel="stylesheet" type="text/css" href="assets/css/rickshaw.min.css">
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/d3.min.js"></script>
        <script src="assets/js/d3.layout.min.js"></script>
        <script src="assets/js/rickshaw.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkpZmSbzKSiiBQ4cF3LJNoMlVSZvFcNp8&sensor=false"></script>
        <script src="assets/js/music.js"></script>
        <script src="assets/js/maps.js"></script>
        <script src="assets/js/walking.js"></script>

    </head>
    <body>
        <div id="header">
            <h1>tom rudick</h1>
            <h2>software engineer at <a href="http://www.spotify.com">spotify</a></h2>
            <h2><a href="http://se.rit.edu">rit se</a>, beekeeper, ex-<a href="http://www.windowsazure.com">microsoft</a></h2>
        </div>

        <div class="section" id="bio">
            <p>Hi! I'm Tom. I currently live in Brooklyn, NY and help build data analytics tools for <a href="http:/www.spotify.com">Spotify</a>. I've been writing software for just over {{programming_age}} years and I still think it is lots of fun.</p>
            <p>I used to live in Seattle where I became an avid bow-tie enthusiast, heavy coffee, drinker and discovered a love of a good mixed drink.</p>
        </div>

        <div class="section" id="projects">
            <p>Some people tell me that I am working on too many side projects but I just think that they aren't working on enough of their own. I've been most recently working on {{{link projects.most_recent.name projects.most_recent.url}}}.</p>
        </div>

        <div class="section" id="music">
            <p>Music is pretty great. Open office spaces and the subway encourage me to listen to more music than I used to.
                {{#if music.today.total}}
                    I've already listened to {{music.today.total}} songs today.</p>
                {{else}}
                    Although, I haven't listened to anything yet today...
                {{/if}}
            <div id="music-chart"></div>
            <div id="albums">
                <ul class='horizontal-list'>
                    {{#each album_covers}}
                    <li class="song"><a href="{{this.url}}"><img src="{{this.image}}"></a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="section" id="locations">
            <p>This week, I've checked into {{checkins.recent.length}} places. The plurality of them have been {{checkins.top_category}}.</p>
            <div id="map"></div>
        </div>

        <div class="section" id="health">
            <p>I usually try to walk as much as I can. Some days I'm better than others.
                {{#if walking.today}}
                Today, I've walked {{walking.today}} miles so far.
                {{/if}}</p>
            <div id="walking-chart"></div>
        </div>

        <div class="section" id="eight30six">
            <p>Inspired by <a href="http://busterbenson.com">Buster Benson</a>, I've been taking a photo of exactly what I'm doing every night at <a href="http://836.rudickuloud.com">8:36pm</a>.</p>
            <div class="highlight cropped {{eight30six.recent.css}}"><a href="{{eight30six.recent.url}}"><img src="{{eight30six.recent.img}}"><p>{{eight30six.recent.caption}}</p></a>
            </div>
            <div class="grid-box">
                {{#each eight30six.previous}}
                <div class="cropped {{this.css}}"><a href="{{this.url}}"><img src="{{this.img}}"><p>{{this.caption}}</p></a></div>
                {{/each}}
            </div>
        </div>

        <div class="section" id="contact">
                <p>Feel free to contact me via <a href="mailto:tom@tomrudick.com">email</a>, <a href="http://twitter.com/tmrudick">twitter</a>, <a href="http://facebook.com/tmrudick">facebook</a>, <a href="http://open.spotify.com/user/tmrudick">spotify</a>, or <a href="http://www.linkedin.com/in/tomrudick">linkedin</a>.</p>
                <p class="tonic"><a href="http://api.tomrudick.com">api.tomrudick.com</a> | Built with <a href="http://www.github.com/tmrudick/tonic">tonic</a>.
        </div>
        <script>
            $(function() {
                Music.init('music-chart');
                Maps.init('map');
                Walking.init('walking-chart');
            });
        </script>
    </body>
</html>